
html {
    display: flex;
    font-family: sans-serif, serif, 'Times New Roman';
    background-color: black;

    align-items: center;
    height: auto;
    margin: auto;
    padding: 0 100px;
    min-width: fit-content;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    /*border: orange 5px solid;*/
    background-color: #1f2937;
}

.header_top {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}

.header_text {
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
    align-items: center;
    /*border: white 2px solid;*/
    white-space: nowrap;
}

ul {
    white-space: nowrap;
}

li {
    list-style-type: none;
    display: inline;
    gap: 5px;
    padding: 2px;
    /*border: white 2px solid;*/
}

a,
.subtext {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}




.header_bottom {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 50px;
}

.header_bottom_left {
    /*border: white 2px solid;*/
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: flex-start;
}

.header_bottom_left .text{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.header_bottom_left button {
    border: none;
    border-radius: 8px;
    width: fit-content;
    background-color: #3882F6;
    color: #F9FAF8;
}

.header_bottom_right {
    /*border: white 2px solid;*/
    display: flex;
    width: 50%;
    justify-content: center;
}

.header_bottom_right img {
    display: flex;
    width: 250px;
    height: auto;
}

.second {
    /*border: pink 5px solid;*/
    background-color: white;
    padding: 0 75px;
}

.second h2 {
    display: flex;
    justify-content: center;
}

.second_body {
    display: flex;
    padding: 0 50px;
    align-items: center;
    justify-content: space-between;
}

.second_body .second_text {
    width:150px;
}

.second_body img {
    display: flex;
    width: 150px;
    height: 150px;
    border-radius: 25px;
    border: solid #3882F6 3px;
}





.third {
    /*border: blue 5px solid;*/
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 75px 150px;

}

.third_text_top {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

.third_text_bottom {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-weight: bold;
}

.fourth {
    /*border: solid grey 5px;*/
    background-color: white;
    display: flex;
    flex-direction: column;

}

.fourth h3 {
    display: flex;
    justify-content: left;
    align-items: baseline;
    background-color: #3882F6;
    margin: 100px 100px 0 100px;
    padding: 25px 25px 0 25px;
    color: white;
    font-weight: bold;
}

.fourth_main {
    display: flex;
    justify-content: space-between;
    margin: 0 100px 100px 100px;
    padding: 0 25px 25px 25px;
    background-color: #3882F6;
    color: white;
}

.fourth_main button {
    display: flex;
    border-radius: 10px;
    background-color: #3882F6;
    border: white 1px solid;
    color: white;
    align-items: center;
    justify-content: flex-end;
}

.footer {
    /*border: yellow 5px solid;*/
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
}